--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-multipart
python-dotenv

inngest

llama-index-core
llama-index-readers-file

qdrant-client

sentence-transformers==2.7.0
torch==2.7.1+cpu

rank-bm25

openai