--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
inngest
llama-index-core
llama-index-readers-file
python-dotenv
qdrant-client
uvicorn
streamlit
openai
sentence-transformers==2.7.0
torch==2.2.2+cpu
rank-bm25